<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>

    <h1> <%= title %> </h1>

    <% if (movies) { %>
        <lu>
            <% for (let i = 0; i < movies.length; i++) { %>
            <li>
                <a href="/movies/detail/<%= movies[i].id %>">
                    <% if (movies[i].genre) { %>
                    <%= movies[i].title  %> - <%= movies[i].genre.name %>
                    <% } else { %>
                    <%= movies[i].title  %>
                    <% } %>
                </a>
            </li>
            <% } %>
        </lu>
        <!--  -->
        <lu>
            <% for (let i = 0; i < course.length; i++) { %>
            <li>
                <a href="/products/detail/<%= course[i].id %>">
                    
                    <%= course[i].name  %> - <%= course[i].category.title %>
                    
                </a>
            </li>
            <% } %>
        </lu>

        <!--  -->
        <% } else if (actors) { %> 
            <lu>
                <% for (let i = 0; i < actors.length; i++) { %>
                <li>
                    <a href="/movies/detail/<%= actors[i].id %>">
                        <%= actors[i].first_name  %> - <%= actors[i].last_name %>
                    </a>
                </li>
                <% } %>
            </lu>
    <% } %> 

    <%- include('./partials/scripts') %>
</body>

</html>